<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css" media="all">
		@import "style.css";
	</style>
	<title>James Hudson - freelance software developer in Berlin</title>
</head>

<body>
	<div class="navbar">
		{% if page_id == "page_home" %}<div>Home</div>{%else%}<a href="index.html">Home</a>{%endif%}
		{% if page_id == "page_press" %}<div>In the press</div>{%else%}<a href="press.html">In the press</a>{%endif%}
		{% if page_id == "page_contact" %}<div>Contact</div>{%else%}<a href="contact.html">Contact</a>{%endif%}
	</div>
	<div id="{{page_id}}" class="content">
		{% block content %}{% endblock %}
	</div>
	<div id="site_footer"> ©2023 James Hudson | <a href="blog/free_page_hosting.html">site built using this script</a></div>
</body>
</HTML>



