<div id="mission_statement" class="section">
			<div class="section_header">Engineering approach</div>
			<p>I build software with interchangeable modules which can be improved and fixed without changing the entire system by prioritising the development of features in manageable chunks to reduce time and resource usage.</p>

			<p>In valuing communication skills and teamwork as much as the technical, I delivery quality software to suit your company’s unique needs in a dynamic, ever-changing technological landscape.</p>

			<p>In my view, technology has advanced to the point where its capabilities are almost limitless. As such, the obstacles that remain are no longer solely technical in nature, but instead center on maintaining positive business relationships. Building and maintaining a high-performing team is a greater priority than the technology itself, and I am committed to fostering a comfortable, positive, and productive business environment.</p>
</div>