<div id="showcase" class="section">
	<div class="section_header">Showcase</div>
	<div class="showcase">
		<img height=300 src="images/stude-phone-mockup.png.webp">
		<div class="title">Stude</div>
		<div class="tagline">Create music with anyone, anywhere, without delay. </div>
		I am acting CTO and lead developer of the Stude music production system, which creates a virtual online recording studio. This system has already been used to produce several European chart-topping tracks. https://www.stude.io/.
	</div>

	<div class="showcase">
		<lottie-player src="https://lottie.host/0cf896b5-285f-4712-858a-50a2df568373/q6jVsMOuly.json" background="Transparent" speed="1" style="width: 300px; height: 300px" direction="1" mode="normal" loop autoplay></lottie-player>
		<div class="title">JawSpace</div>
		<div class="tagline">Mobile health, direct to the user. </div>
				JawSpace www.jawspace.app
	</div>


	<div class="showcase">
		<div class="title">Open source?</div>
		I made the official Arduino Bluetooth notifications handler for the ESP32 chipset. <a href="https://github.com/Smartphone-Companions/ESP32-ANCS-Notifications">Check it out on GitHub</a>.
	</div>

</div>