<div id="showcase" class="section">
	<div class="section_header">Showcase</div>
	<div class="showcase">
		<div class="graphic">
			<img height=500 src="images/stude-phone-mockup.png.webp">
		</div>
		<div class="title">Stude</div>
		<div class="tagline">Create music with anyone, anywhere, without delay. </div>
		<p>I am acting CTO and lead developer of the Stude music production system, which creates a virtual online recording studio.</p>
		<p>This system has already been used to produce several European chart-topping tracks.</p>
		<p><a href="https://www.stude.io/">stude.io/</a></p>
	</div>

	<hr>

	<div class="showcase">
		<div class="graphic">
			<lottie-player src="https://lottie.host/0cf896b5-285f-4712-858a-50a2df568373/q6jVsMOuly.json" background="Transparent" speed="1" style="width: 500px; height: 500px" direction="1" mode="normal" loop autoplay></lottie-player>
		</div>
		<div class="title">JawSpace</div>
		<div class="tagline">Mobile health, direct to the community.</div>
		<p>As a small development team, we built this service from the ground up in cooperation with some of the leading experts on TemporoMandibular joint Dysfunction.</p>
		<p>
			<a href="https://apps.apple.com/us/app/jawspace-your-tmd-journey/id1665850708"><img src="images/appstore.svg"></a>
		</p>
		 <p>
			<a href="https://jawspace.app">jawspace.app</a>
		</p>
	</div>

	<hr>

	<div class="showcase">
			<div style="height: 100px;" class="graphic"></div>
		<div class="title">Open source</div>
		<div class="tagline">My code, for all the world to see and use.</div>
		<p>I made the official Arduino Bluetooth notifications handler for the ESP32 chipset. <a href="https://github.com/Smartphone-Companions/ESP32-ANCS-Notifications">Check it out on GitHub</a>.
		</p>
		<div class="contact"><a href="https://www.github.com/jhud/">My other Open Source projects</a></div>
	</div>

</div>