{% macro customer(name, url, id) %}
	<div id="customer_{{id}}" class="customer_widget"><a href="{{url}}"><img src="images/customer_logos/{{id}}.png"><div class="name">{{name}}</div></a></div>
{% endmacro %}