{% set page_id = "page_work" %}
{% extends "%main_base.html" %}
{% block content %}

<div id="what_i_do" class="section">
	<div class="section_header">What I do</div>
	<p>I think the world has enough scooter, ad-selling, and food delivery conglomerates. I've stayed as a freelance developer because I want independent, imaginative, and worthwhile projects to be able to access the same development resources as large tech companies.</p>
	<p>For new projects, I typically develop products and services from the concept to public release, and advise on technical matters.</p>
	<p>For existing projects, I can use my broad experience to jump into a team at short notice, to provide additional development muscle or specialised expertise.</p>
	<p>I don't work with recruiters; you can talk with me directly.</p>
</div>

	{% include "mission_statement.j2" %}
	{% include "competencies.j2" %}
{% endblock %}
