{% extends "%koala_base.html" %}
{% block title %}Pole with Lena{% endblock %}

{% block content %}

<script> var company = 73;</script>
<link rel="stylesheet" type="text/css" href="https://super-fit.herokuapp.com/static/styles/integration.css">
<link rel="stylesheet" type="text/css" href="https://super-fit.herokuapp.com/static/styles/integration_koala.css">
	<script src="https://musepoledance.de/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>  


<script type="text/javascript" src="https://super-fit.herokuapp.com/static/js_library/superfit.js"></script>
<script type="text/javascript" src="https://super-fit.herokuapp.com/static/js_library/timetable_render.js"></script>

<div id="navbar"></div>

<style>
	h1 {
		text-align: center;
	}
</style>

<h1>Pole with Lena timetable</h1>


<div id="calendar">
	<div id="calendar_label"></div>
	<div id="calendar_strip"></div>
</div>

<div id="timetable_base"></div>

<p style="height: 40px"></p>
<p>
	Studio address:
	<ul>
		<li id="studio_address"><b>Orbit:</b> Weichselstraße 33, 10247 Berlin-Friedrichshain (S+U Frankfurter Allee)</li>
	</ul>
</p>

<div style="height:50px"></div>

<script>
	$("#studio_address").html(`<b>${styling.studioName}</b>${styling.studioAddress}`);
</script>

{% endblock %}