		<div id="competencies" class="section">
			<div class="section_header">Competencies</div>
			<p><a href="https://stackshare.io/publicjim/james-favourite-things">My StackShare profile has a list of my preferred languages and platforms.</a> It's not an exhaustive list; ask me if you have questions.</p>

			<p>I also have a hardware lab for AI, hardware prototyping, debugging, and firmware development.</p>
		</div>
		