{% set page_id = "page_home" %}
{% extends "%main_base.html" %}
{% from 'widgets.j2' import customer %}
{% block content %}
	<div id="intro" class="title">
		<img id="profile_big" src="images/profile.jpg">
		<div class="intro_text">
			Hi, I'm James. As a software developer and consultant, I specialize in intricate, demanding, imaginative, and meaningful projects.
		</div>
	</div>

	{% include "showcase.j2" %}

	<div id="customers" class="section">
		<div class="section_header">Some customers</div>
		<div class="customer_subtitle">Multimedia</div>
		<div class="customer_list">
			{{ customer("GameLab", "https://www.gamelab.berlin", "gamelab")}}
			{{ customer("Goethe Institut", "https://www.goethe.de", "goethe_institut")}}
			{{ customer("Klangchat", "https://www.klangchat.com", "klangchat")}}
			{{ customer("eobiont", "https://www.eobiont.de/", "eobiont")}}
		</div>
		<div class="customer_subtitle">Mobile Healthcare</div>
		<div class="customer_list">
			{{ customer("NuvoAir", "https://www.nuvoair.com", "nuvoair")}}
			{{ customer("Research 2 Guidance", "https://research2guidance.com", "research2guidance")}}
		</div>
		<div class="customer_subtitle">Internet of Things</div>
		<div class="customer_list">
			{{ customer("Wireless IoT Solutions", "https://www.wireless-iot-solutions.com/", "wis")}}
			{{ customer("Saber Astronautics", "https://www.saberastro.com", "saberastro")}}
		</div>
	</div>

	<div id="at_a_glance" class="section">
		<div class="section_header">At a glance</div>
		<ul>
			<li>Based in Berlin, working remotely worldwide.</li>
			<li>Software from concept to release.</li>
			<li>Proficient in 13+ languages and their ecosystems: apps, full-stack services, or physical devices.</li>
			<li>Graphics, multimedia, AI, and creative projects are my specialty.</li>
			<li>Englisch ist meine Muttersprache, aber ich arbeite gerne auf Deutsch (Niveau B2).</li>
		</ul>
	</div>
	
	<div id="at_a_glance" class="section">
		<div class="section_header">Support my work</div>
		 <p>Once I can pay my bills, I have time for making more community stuff. If you like my free apps or libraries enough that you would buy me a drink if you met me, donations would be much appreciated!</p>
	<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="disconnectionist" data-color="#FFDD00" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
</div>
</div>
	
	<div id="disclaimer">All trademarks, logos and brand names are the property of their respective owners. All company, product and service names used in this website are for identification purposes only.</div>

	{# Player at the bottom, so it will not stall the page as it loads.#}
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}