{% set page_id = "page_work" %}
{% extends "%main_base.html" %}
{% block content %}

<div id="what_i_do" class="section">
	<div class="section_header">What I do</div>
	<p>I think the world has enough e-scooter, ad-selling, and food delivery conglomerates. I've stayed as a freelance developer for the last 10 years because I want independent, imaginative, and worthwhile projects to be able to access the same development resources as large tech companies.</p>
	<p><b>For new projects</b>, I typically develop products and services from the concept to public release, and advise on technical matters. The project could be as small as a standalone app, or the entire infrastructure for a tech company.</p>
	<p><b>For existing projects</b>, I can use my broad experience to jump into a team at short notice, to provide additional development muscle or specialised expertise.</p>
	<p><b>I audit and review existing software</b>, and <b>give technical interviews</b> to potential team members. I've interviewed the future CTOs of multi-million-dollar companies.</p>
	<p>I don't work through recruiters; you can talk with me directly.</p>
</div>

	{% include "mission_statement.j2" %}
	{% include "competencies.j2" %}
{% endblock %}
